body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #293a4b;
  margin: 0;
  padding: 10px;
  // overflow: hidden;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  box-sizing: border-box;
}

code {
  display: block;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  width: fit-content;
}

span {
  margin-top: 10px;
  display: block;
}

button {
  margin-top: 20px
}